<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form | NSUT</title>
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/login.css">
   </head>
   <body>

   <div class="container">
      <div class="loginform">
         <form action="/signup" method="post">
            <h2> eNSUT SIGN-UP FORM </h2>
            <input type="text" name="frontname" placeholder="Full Name">
            <input type="text" name="rollnumber" placeholder="Roll-Number">
            <input type="email" name="username" placeholder="Email ID">
            <input type="password" name="password" placeholder="Create Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <button type="submit" class="login"> Create Account </button>
            <button type="button" class="signup"><a href="/login"> Login </button></a>
         </form>
      </div>

      <div class="image">
         <img src="images/SignUp.png" width="300px">
      </div>
   </div>

   </body>
   </html>
